YOUTUBE_CLIENT_SECRET_PATH=/home/sistemas/Dev/MCP/alma-narradora/youtube/client_secret_pipo_reflexiona.json
YOUTUBE_TOKEN_PATH=/home/sistemas/Dev/MCP/alma-narradora/youtube/token_2.json
YOUTUBE_DB_PATH=/home/sistemas/Dev/MCP/alma-narradora/youtube/alma_narradora.db
YOUTUBE_NARRATIONS_DIR=/home/sistemas/Dev/MCP/alma-narradora/narraciones
TIMEZONE=America/Bogota
YOUTUBE_VIDEOS_PER_DAY=6
YOUTUBE_SCHEDULES=08:00,12:00,16:00,18:00,20:00,22:00
